body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand_wrist {
  width: 24px;
  height: 20px;
  margin-left: 4px;
  transform: rotate(-20deg);
  background-color: bisque;
  z-index: 1;
  animation-name: hand_wrist;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.hand_palm {
  width: 50px;
  height: 15px;
  position: absolute;
  top: 22px;
  margin-left: 5px;
  transform: rotate(5deg);
  background-color: bisque;
  border-radius: 30% 30% 30% 30%;
  animation-name: hit_palm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.hand_finger {
  width: 40px;
  height: 10px;
  margin-top: 0px;
  margin-left: 40px;
  transform: rotate(5deg);
  background-color: bisque;
  border-radius: 30% 30% 30% 30%;
  animation-name: hit_finger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ball {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 20px;
  border-radius: 50%;
  background-color: brown;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  50% {
    top: 220px;
    width: 130px;
    height: 80px;
  }

  100% {
    top: 5px;
  }
}

@keyframes hand_wrist {
  0% {
    transform: rotate(-12deg);
  }
}

@keyframes hit_palm {
  0% {
    top: 24px;
    transform: rotate(8deg);
  }
}

@keyframes hit_finger {
  0% {
    margin-top: 4px;
    transform: rotate(14deg);
  }
}
