.hand_wrist {
    width: 30px;
    height: 20px;
    margin-left: 10px;
    transform: rotate(-5deg);
    background-color: bisque;
    z-index: 1;
}

.hand_palm {
    width: 50px;
    height: 15px;
    position: absolute;
    top: 16px;
    margin-left: 5px;
    background-color: bisque;
    border-radius: 30% 30% 30% 30%;
}

.hand_finger {
    width: 40px;
    height: 10px;
    position: absolute;
    top: 19px;
    left: 50px;
    background-color: bisque;
    border-radius: 30% 30% 30% 30%;
}

.ball {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background-color: brown;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        top: 5px;
    }

    50% {
        top: 275px;
        width: 130px;
        height: 80px;
    }

    100% {
        top: 5px;
    }
}