.hand_wrist {
  width: 24px;
  height: 18px;
  margin-left: 8px;
  transform: rotate(-5deg);
  background-color: bisque;
  z-index: 1;
  animation-name: hand_wrist;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.hand_palm {
  width: 50px;
  height: 15px;
  position: absolute;
  top: 16px;
  margin-left: 5px;
  background-color: bisque;
  border-radius: 30% 30% 30% 30%;
  animation-name: hit_palm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.hand_finger {
  width: 40px;
  height: 10px;
  position: absolute;
  top: 19px;
  left: 50px;
  background-color: bisque;
  border-radius: 30% 30% 30% 30%;
  animation-name: hit_finger;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.ball {
  width: 100px;
  height: 100px;
  position: relative;
  margin-left: 12px;
  border-radius: 50%;
  background-color: brown;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 3px;
  }

  50% {
    top: 275px;
    width: 130px;
    height: 80px;
  }

  100% {
    top: 5px;
  }
}

@keyframes hand_wrist {
  0% {
    transform: rotate(-8deg);
  }
}

@keyframes hit_palm {
  0% {
    transform: rotate(5deg);
  }
}

@keyframes hit_finger {
  0% {
    top: 22px;
    transform: rotate(10deg);
  }
}
